.auth-background {
  background-image: url('../img/evento.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-background .auth-background-overlay {
  position: absolute;
  background-color: rgba(137, 49, 175, 0.4);
  width: 100%;
  height: 100%;
}

.auth-background .card {
  z-index: 1;
}
