<link rel="stylesheet" href="../../css/auth.css">

<div class="center-container auth-background">
    <div class="auth-background-overlay"></div>
    <div class="card">
        <div class="card-header">
            <h1>Evento's</h1>
            <span>Informe seus dados para criar a conta</span>
        </div>
        <form ng-submit="register()">
            <div class="error-box" ng-if="error">
                {{ error }}
            </div>
            <div class="form-auth">
                <input type="text" required ng-model='newRegister.name' class="auth-input" placeholder="Usuário">
                <input type="password" required ng-model='newRegister.password' class="auth-input" placeholder="Senha">
                <input type="password" required ng-model='newRegister.passwordConfirmation' class="auth-input" placeholder="Confirme a senha">
            </div>
            <div class="card-actions">
                <a href="#!/auth/login">Fazer login</a>
                <button type="submit">Criar conta</button>
            </div>
        </form>
    </div>
</div>